<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students and Courses</title>
  </head>
  <body>
    <h1>Students and Courses</h1>
    <hr />

    <h2>Add Student</h2>
    <form action = "/" method = "post">
      <input name = "student" type = "text"></input>
      <input name = "studentDate" type = "date"></input>
      <button>Add Student</button>
    </form>


      <ul>
      @foreach (var student in Model)
      {
      <li>@student.GetName()</li>
      }
      </ul>




  </body>
</html>
